.container
  %h1 Photographers:
  %ul
    %li.panda
      = image_tag('attribution/1.png', :size => '150x150')
      .photographer
        = link_to "J. Patrick Fischer", "http://en.wikipedia.org/wiki/File:Grosser_Panda.JPG"
      .license
        %a{:href => "http://creativecommons.org/licenses/by-sa/3.0/deed.en"}
          Attribution
          Share Alike
          3.0 Unported
    %li.panda
      = image_tag('attribution/2.jpg', :size => '150x150')
      .photographer
        = link_to "Kevin Dooley", "http://www.flickr.com/photos/pagedooley/5402340884/"
      .license
        <a href="http://creativecommons.org/licenses/by/2.0/deed.en" rel="license cc:license">Some rights reserved</a>
    %li.panda
      = image_tag('attribution/3.png', :size => '150x150')
      .photographer
        = link_to "Cliff1066", "http://www.flickr.com/photos/nostri-imago/3582031004/"
      .license
        <a href="http://creativecommons.org/licenses/by/2.0/deed.en" rel="license cc:license">Some rights reserved</a>
    %li.panda
      = image_tag('attribution/4.jpg', :size => '150x150')
      .photographer
        = link_to "Rick Weiss", "http://www.flickr.com/photos/26049404@N05/5661176303/"
      .license
        <a href="http://creativecommons.org/licenses/by/2.0/deed.en" rel="license cc:license">Some rights reserved</a>
    %li.panda
      = image_tag('attribution/5.jpg', :size => '150x150')
      .photographer
        = link_to "Rick Weiss", "http://www.flickr.com/photos/26049404@N05/5661740276/"
      .license
        <a href="http://creativecommons.org/licenses/by/2.0/deed.en" rel="license cc:license">Some rights reserved</a>
    %li.panda
      = image_tag('attribution/6.jpg', :size => '150x150')
      .photographer
        = link_to "Rick Weiss", "http://www.flickr.com/photos/26049404@N05/5661160665"
      .license
        <a href="http://creativecommons.org/licenses/by/2.0/deed.en" rel="license cc:license">Some rights reserved</a>
