.container
  #content
    %header
      %h1 pandaholder.com

    #description
      %p
        A quick and simple service for getting pictures of pandas for use as
        placeholders in your designs or code. Just put your image size (width
        & height) after our URL and you'll get a placeholder.

    #instructions
      %p Like this: http://placepanda.com/200/300 or: http://placepanda.com/g/200/300

    #pandapics
      = image_tag('panda.png')

    %footer
      %p
        Made by
        = link_to "Matt Van Horn", "http://www.mattvanhorn.com"
        inspired by
        = link_to "Mark James", "http://mark.james.name/"
        &amp;
        = link_to "placekitten.com", "http://placekitten.com"
        with code liberally borrowed from
        = link_to "placedog.com", "http://github.com/JGaudette/PlaceDog"
        for the purposes of
        =link_to "the blog post here", "http://www.mattvanhorn.com/2012/01/07/heroku-cedar-assets-ruby-1-9/"
      %p
        link_to "Image Attribution", '/attribution'

